<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <app-navbar></app-navbar>
    </mat-menu>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    <span appDirectiveFont>Welcome to WINCourses</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>login
        <app-login></app-login>
      </mat-icon>
    </button>
  </mat-toolbar>
</p>
