<h1 mat-dialog-title>Edit Students data: {{data.name}}</h1>
<div mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="newFormSubmit()">

    <div class="row">
      <input type="text" placeholder="Name" formControlName="name">
    </div>
    <div class="row">
      <input type="text" placeholder="LastName" formControlName="lastName">
    </div>
    <div class="row">
      <input type="text" placeholder="Age" formControlName="age">
    </div>
    <div class="row">
      <input type="text" placeholder="Commission" formControlName="commission">
    </div>
    <div class="row">
      <input type="text" placeholder="Active" formControlName="isActive">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="closeDialog()">Close</button>
      <button mat-button type="submit">Edit</button>
    </div>
  </form>
</div>
