
 <!-- Email -->
<form [formGroup]="loginForm" (ngSubmit)="login()" class="login_form">
  <div class="login_input" >
    <mat-form-field appearance="fill" class="login_input"  >
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <div>

      <!-- Errors -->
      <div class="valid" *ngIf="loginForm.controls['email'].valid">Correct email address</div>
      <div class="invalid" *ngIf="loginForm.controls['email'].dirty && loginForm.controls['email'].errors?.['required']">
        Incorrect email address</div>
      <div class="invalid" *ngIf="loginForm.controls['email'].dirty && loginForm.controls['email'].errors?.['pattern']">
        The email format is incorrect</div>
    </div>
  </div>

    <!-- Password -->
  <div class="login_input">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

      <!-- Errors -->
    <div>
      <div class="valid" *ngIf="loginForm.controls['password'].valid">Correct password</div>
      <div class="invalid"
        *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors?.['required']">Incorrect
        password</div>
      <div class="invalid"
        *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors?.['minlength']">The
        password must contain at least 8 characters</div>
    </div>
  </div>
<div>
  <button mat-raised-button color="primary" class="m-3" type="submit" [disabled]="loginForm.invalid">
    Log in
  </button>
  <button mat-fab color="primary" type="reset" class="btn btn-secondary m-3">
    <mat-icon>delete</mat-icon>
  </button>
</div>
</form>
