
<div class="navbar__container">

    <ul class="nav flex-column">
        <li class="navbar__item nav-item">
            <a class="nav-link active" aria-current="page" href="#">Programming</a>
        </li>
        <li class="navbar__item nav-item">
            <a class="nav-link" href="#">Marketing Digital</a>
        </li>
        <li class="navbar__item nav-item">
            <a class="nav-link" href="#">Data</a>
        </li>
        <li class="navbar__item nav-item">
            <a class="nav-link">Cybersecurity</a>
        </li>
    </ul>
</div>