<div class="example-container">
  <form [formGroup]="studentDetail">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput #input formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>LastName</mat-label>
      <input matInput #input formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Age</mat-label>
      <input matInput #input formControlName="age">
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Course Enrolled</mat-label>

      <input matInput #input formControlName="courseEnrolled" >
    </mat-form-field> -->
    <mat-form-field appearance="fill">
      <mat-label>Active</mat-label>
      <input matInput #input formControlName="isActive">
    </mat-form-field>
  </form>
</div>
