.students__title{
    background-color: blanchedalmond;
}

.students__list{
    background-color: blanchedalmond;
    font-size: 1rem;
}


.studentList_iconAdd{
  background-color: white ;
  margin-left: 73rem;
}
