<div class="container">
  <div class="row">
    <ng-container *ngIf="session$ | async as session">

      <button mat-button mat-raised-button *ngIf="session.activeUser?.administrator" color="primary" class="mt-4 mb-4" (click)="addCourse()">AddCourse</button>
    </ng-container>
    <div class="col" *ngFor="let course of courseList">
      <mat-card class="">
        <mat-card-header>
          <mat-card-title>{{ course.name}}</mat-card-title>
          <mat-card-subtitle>{{ course.commission}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/courses.png" alt="">
        <mat-card-content>
          <p>
            Professor: {{course.professor}}
          </p>
          <span>Date: {{course.startDate | formatDate }} - {{course.endDate| formatDate}}</span>
        </mat-card-content>
        <mat-card-actions align="end">
          <ng-container *ngIf="session$ | async as session">
            <button mat-button *ngIf="session.activeUser?.administrator" color="primary" (click)="editCourse(course)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button *ngIf="session.activeUser?.administrator" color="warn" (click)="deleteCourse(course)">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
