img {
  width: 100%;
  align-self: center;
}

.containerCards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 4rem;
  padding: 4rem;
}

.addCourse_container{
  margin: 2rem;
  text-align: end;

}
.addCourse_btn{
  background-color:  #ff2a97;;
  color: white;
}
