<div class="container">
    <div class="row">
        <div class="col" *ngFor="let course of courseList">
            <mat-card class="">
                <mat-card-header>
                  <mat-card-title>{{ course.name}}</mat-card-title>
                  <mat-card-subtitle>{{ course.commission}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/courses.png" alt="">
                <mat-card-content>
                  <p>
                    Professor: {{course.professor}}
                  </p>
                  <span>Date: {{course.startDate | formatDate }} - {{course.endDate| formatDate}}</span>
                </mat-card-content>
                <mat-card-actions align="end">
                  <button mat-button color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>