<mat-toolbar class="toolbar">
  <div class="toolbar_containerIcons">
    <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">
      <mat-icon aria-hidden="false" class="toolbar_icons"  aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
  </div>
  <span appDirectiveFont class="title">WINCourses</span>
  <span class="example-spacer"></span>
  <ng-container *ngIf="activeSession$ | async as session">
    <p *ngIf="activeSession$">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="toolbar_icons">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <app-navbar></app-navbar>
      </mat-menu>
    </p>
  </ng-container>
  <div class="toolbar_containerIcons">

    <a mat-button [routerLink]="['/login']" routerLinkActive="router-link-active">
      <mat-icon class="toolbar_icons">login</mat-icon>
    </a>
    <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="logout()">
      <mat-icon class="toolbar_icons">logout</mat-icon>
    </a>
  </div>
</mat-toolbar>
