<h2 class="toolbar__title m-4">Welcome to WINCourses</h2>
<div class="toolbar__containerItems btn-group m-4" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="toolbar__containerItems--items btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">Home</label>

    <input type="checkbox" class="toolbar__containerItems--items btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck2">Students</label>

    <input type="checkbox" class="toolbar__containerItems--items btn-check" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck3">Courses</label>
</div>