<ng-container *ngIf="activeSession$ | async as session">

<mat-stepper linear #stepper>
    <mat-step [stepControl]="enrollmentForm" [editable]="isEditable">
      <form [formGroup]="enrollmentForm">
        <ng-template matStepLabel>Information</ng-template>
        <mat-form-field appearance="fill">
          <!-- Name -->
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" required>
        </mat-form-field>
        <!-- LastName -->
        <mat-form-field appearance="fill">
          <mat-label>LastName</mat-label>
          <input matInput formControlName="lastName" placeholder="LastName" required>
        </mat-form-field>
        <!-- Age -->
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" placeholder="Age" required>
        </mat-form-field>
        <!-- courseEnrolled -->
        <div>
          <mat-form-field>
            <mat-select appearance="fill" class="" placeholder="Coruse" formControlName="courseEnrolled">
              <mat-option *ngFor="let course of courses$ | async" [value]="course">
                {{course.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-label>

          </mat-label>
        </div>
        <!-- commission -->
        <div>
          <button mat-button matStepperNext type="button">Next</button>

        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
      <p> Information Payment</p>
      <p> thank you for enrolling in the angular course.</p>

      <button mat-button matStepperPrevious type="button">Back</button>


          <div mat-actions>
            <button mat-button  (click)="enrolledToCourse()">Register</button>
          </div>
    </mat-step>
  </mat-stepper>
</ng-container>
