<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-stepper linear #stepper>


    <mat-step [stepControl]="enrollmentForm" [editable]="isEditable">
      <form [formGroup]="enrollmentForm" (ngSubmit)="enrolledToCourse()">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field appearance="fill">
          <!-- Name -->
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" required>
        </mat-form-field>
        <!-- LastName -->
        <mat-form-field appearance="fill">
          <mat-label>LastName</mat-label>
          <input matInput formControlName="lastName" placeholder="LastName" required>
        </mat-form-field>
        <!-- Age -->
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" placeholder="Age" required>
        </mat-form-field>
        <!-- courseEnrolled -->
        <div>
          <mat-form-field>
            <mat-select appearance="fill" class="" placeholder="Coruse" formControlName="courseEnrolled">
              <mat-option *ngFor="let course of courses$ | async" [value]="course">
                {{course.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-label>

          </mat-label>
        </div>
        <!-- commission -->



        <div>
          <button mat-button matStepperNext>Next</button>
          <div mat-actions>
            <button mat-button type="submit">Register</button>
          </div>
        </div>
      </form>
    </mat-step>
    <!-- <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
        required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step> -->
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>

      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </mat-step>

</mat-stepper>
