<h1 mat-dialog-title>Edit Students data: {{data.name}}</h1>
<div mat-dialog-content>
    <form [formGroup]="editForm">
       
            <div class="row">
                <input type="text" placeholder="Name" formControlName="name">
            </div>
            <div class="row">
                <input type="text" placeholder="Age" formControlName="age">
            </div>
            <div class="row">
                <input type="text" placeholder="Active" formControlName="isActive">
            </div>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button>Edit</button>
</div>
